<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/master.css" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/scripts/ext/swfobject.js" type="text/javascript"></script>
    <script src="/scripts/ext/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/scripts/ext/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://use.typekit.com/cfy2uea.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/scripts/FontList.js" type="text/javascript"></script>
    <script src="/scripts/Fingerprint.js" type="text/javascript"></script>
    <script type="text/javascript">
      var tmp = <%= @fingerprint.to_json %>;
    </script>
    <script type="text/javascript" src="/scripts/takeabite.js"></script>
    <title>Take a bite!</title>
    <meta property="og:title" content="Take a Bite!"/>
    <meta property="og:type" content="university"/>
    <meta property="og:url" content="http://exjob02.byburt.com/"/>
    <meta property="og:image" content="http://exjob02.byburt.com/img/cookie.png"/>
    <meta property="og:site_name" content="Take a Bite!"/>
    <meta property="og:description"
          content="Today, most webpages use cookies to keep track of
          and identify its users. We're trying to find a less
          intrusive method than cookies; a method which does not store
          information on your computer. We need your help to gather
          browser data, help us by clicking the button below and take
          a bite of the cookie! "/>
    <meta property="fb:admins" content="677736282,659997616" />
 </head>
  <body>

    <div id="fb-root"></div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Take a Bite!</h1>
        </div>
        <div class="row">
          <div class="span14">
            <p>Today, most webpages use cookies to keep track of and
              identify its users. We're trying to find a less
              intrusive method than cookies; a method that doesn't
              store any information on your computer. We need your help to
              gather browser data, help us by clicking the button
              below and take a bite of the cookie!
          </div>
          <div class="span14 cookie">
            <img src="img/cookie.png" border="0" alt="Take a Bite!" id="cookie" width="816" height="369" />
          </div>

          <div class="span14" id="sharediv" style="height:100px;position:relative;">

            <a href="#" onclick="submit();return false;" class="btn primary" id="share">Sure, I'll have a bite!</a>

	    <div id="loading" style="display:none;position:absolute;z-index:3;top:0;left:0;width:100%">
	      <div id="status">Nom nom nom...</div>
	      <img src="/img/ajax-loader.gif" border="0" width="24" height="24" />
	    </div>

	    <div id="error" style="color:#dd513b;display:none;position:absolute;z-index:3;top:0;left:0;width:100%;">
	      Something went wrong, we are sorry for the inconvinience! Please try again later.
	    </div>

	    <div id="thanks" style="display:none;position:absolute;z-index:3;top:0;left:0;width:100%">
	      <h2>Thank you!</h2>
	      <p style="position:absolute;z-index:3;top:0;left:0;width:100%">
		Thanks to your bite of the cookie, we are now one step closer to
		a cookie-free browsing experience! <br />We need recurring
		visitors, so please return to us in a few days to take another
		bite.
	      </p>
	    </div>

          </div>

          <div class="span14 share">
	    <img src="/img/share_arrow.png" alt="Share" width="131" height="131" />
	    <table>
	      <tr>
		<td style="width:268" />
		<td>
		  <div class="fb-like" data-href="http://exjob02.byburt.com" data-send="false" data-layout="button_count" data-width="0" data-show-faces="false" data-font="arial"></div>
		</td>
		<td>
		  <a href="https://twitter.com/share" class="twitter-share-button"></a>
		</td>
		<td style="width:268" />
	      </tr>
	    </table>
          </div>

	  <div class="add-info" style="clear:both">
	     This webpage is part of a master's thesis project at Chalmers
	     University of Technology. Upon clicking the button, you
	     agree to letting us store your browser information and set a cookie
	     on your computer (to be used for verification of our method). <br />
	     
	     For more information, please contact 
	     <i>ferik&nbsp;(at)&nbsp;student&nbsp;(dot)&nbsp;chalmers&nbsp;(dot)&nbsp;se</i>
	  </div>

        </div>

      </div>
    </div> <!-- /container -->

    <script>
      (function(w,d,s) {
        function go(){
          var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.src = url; js.id = id;
            fjs.parentNode.insertBefore(js, fjs);
          };
          load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');
          load('//platform.twitter.com/widgets.js', 'twitterjs');
        }
        if (w.addEventListener) { w.addEventListener("load", go, false); }
        else if (w.attachEvent) { w.attachEvent("onload",go); }
      }(window, document, 'script'));
    </script>

  </body>
</html>
