<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/master.css" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/scripts/ext/swfobject.js" type="text/javascript"></script>
    <script src="/scripts/ext/jquery-1.6.4.min.js" type="text/javascript"></script> 
    <script src="/scripts/ext/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://use.typekit.com/cfy2uea.js"></script> 
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
    <script src="/scripts/FontList.js" type="text/javascript"></script>
    <script src="/scripts/Fingerprint.js" type="text/javascript"></script> 
    <script src="/scripts/ext/bootstrap-modal.js" type="text/javascript"></script>
    <script type="text/javascript">
      var tmp = <%= @fingerprint.to_json %>;
    </script>
    <script type="text/javascript" src="/scripts/takeabite.js"></script>
    <title>Take a bite!</title>
    <meta property="og:title" content="Take a Bite!"/>
    <meta property="og:type" content="university"/>
    <meta property="og:url" content="http://take-a-bite.org/"/>
    <meta property="og:image" content="http://take-a-bite.org/img/cookie.png"/>
    <meta property="og:site_name" content="Take a Bite!"/>
    <meta property="og:description"
          content="Today, most webpages use cookies to keep track of
          and identify its user. We want to change this. Help us by taking a bite. "/>
    <meta property="fb:admins" content="677736282,659997616" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28270295-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
 </head>
  <body>

    <div id="fb-root"></div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Take a Bite!</h1>
        </div>
        <div class="row">
          <div class="span14">
            <p>Today, most webpages use cookies to keep track of and
              identify its users. We're trying to find a less
              intrusive method than cookies; a method that doesn't
              store any information on your computer. We need your help to
              gather browser data, help us by clicking the button
              below and take a bite of the cookie!
          </div>
          <div class="span14 cookie">
            <img src="img/cookie.gif" border="0" alt="Take a Bite!" id="cookie" width="816" height="369" />
          </div>

          <div class="span14" id="sharediv" style="height:200px;position:relative;">

            <a href="#" onclick="submit();return false;" class="btn primary" id="share">Sure, I'll have a bite!</a>

	    <div id="loading" style="display:none;position:absolute;z-index:3;top:0;left:0;width:100%">
	      <div id="status">Nom nom nom...</div>
	      <img src="/img/ajax-loader.gif" border="0" width="24" height="24" />
	    </div>

	    <div id="error" style="color:#dd513b;display:none;position:absolute;z-index:3;top:0;left:0;width:100%;">
	      Something went wrong, we are sorry for the inconvinience! Please try again later.
	    </div>

	    <div id="thanks" style="display:none;position:absolute;z-index:3;top:0;left:0;width:100%;">
	      <h2>Thank you!</h2>
	      <p>
		Thanks to your bite of the cookie, we are now one step closer to
		a cookie-free browsing experience! <br />We need recurring
		visitors, so please return to us in a few days to take another
		bite.
	      </p>
	      <form action="http://tinyletter.com/take-a-bite" method="post" target="popupwindow" onsubmit="window.open('http://tinyletter.com/take-a-bite', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" style="margin-top:20px">
		<p style="font-weight:bold">If you want a friendly reminder to take another bite, please enter your email address:</p>
		<p><input type="text" style="width:300px; height: 32px; font-family: museo, helvetica, sans-serif; font-size:16px" name="emailaddress"/>
		<input type="hidden" value="1" name="embed" />
		<input type="submit" class="btn" value="Remind me" style="display:inline; font-family: museo, helvetica, sans-serif; font-size:16px; padding: 6px; color: #fff; margin-left: 1em"/></p>
	      </form>
	    </div>

          </div>

          <div class="span14 share">
	    <img src="/img/share_arrow.png" alt="Share" width="131" height="131" />
	    <table>
	      <tr>
		<td style="width:268" />
		<td>
		  <div class="fb-like" data-href="http://take-a-bite.org" data-send="false" data-layout="button_count" data-width="0" data-show-faces="false" data-font="arial"></div>
		</td>
		<td>
		  <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="takeabite"></a>
		</td>
		<td style="width:268" />
	      </tr>
	    </table>
          </div>

	  <div class="add-info" style="clear:both">
	     This webpage is part of a master's thesis project at Chalmers
	     University of Technology. Upon clicking the button, you
	     agree to letting us store your browser information and set a cookie
	     on your computer (to be used for verification of our method).<br/>
	     <a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">More&nbsp;information</a>
	     
<!--	     For more information, please contact 
	     <i>ferik&nbsp;(at)&nbsp;student&nbsp;(dot)&nbsp;chalmers&nbsp;(dot)&nbsp;se</i> -->
	  </div>

          <div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
	      <h2>Additional information</h2>
            </div>
            <div class="modal-body" style="height:70%">

	      <h3>Project info</h3>
	      <p>
		The goal for this project is to find a method for uniquely identifying browser
		clients without storing any information on the client's device. It is a research
		project conducted at Chalmers University of Technology. 
	      </p>
	      <h3>Privacy</h3>
	      <p>
		The collected data will under no circumstances be shared with others nor used
		for commercial purposes. If you want us to remove your data, please send an
		e-mail to
		ferik&nbsp;(at)&nbsp;student&nbsp;(dot)&nbsp;chalmers&nbsp;(dot)&nbsp;se with
		the content of the cookie set for take-a-bite.org. We store the user id on your
		device using HTTP cookies, localStorage and Flash LSO.
	      </p>
	      <h3>What is collected</h3>
	      <p>
		We collect information about the following from your client:
		<ul>
		  <li>
		    Headers
		    <ul>
		      <li>IP-address</li>
		      <li>User-agent string</li>
		      <li>Accept headers</li>
		    </ul>
		  </li>
		  <li>
		    DOM-tree
		    <ul>
		      <li>Navigator object (version, language, plugins, etc.)</li>
		      <li>Screen object (screen resolution)</li>
		      <li>Window object (window dimensions)</li>
		    </ul>
		  </li>
		  <li>Others
		    <ul>
		      <li>Timezone</li>
		      <li>Round Trip Time</li>
		      <li>Clock diff from server</li>
		      <li>Fonts through CSS</li>
		      <li>Plugins through ActiveX (IE only)</li>
		    </ul>
		  </li>
		</ul>
	      </p>
	      <p>
		Feel free to contact us with any questions, thanks for visiting!
	      </p>
            </div>
          </div>

          
	
      </div>
    </div> <!-- /container -->

	<script type="text/javascript">
	  (function(w,d,s) {
          function go(){
          var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.src = url; js.id = id;
          fjs.parentNode.insertBefore(js, fjs);
          };
          load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');
          load('//platform.twitter.com/widgets.js', 'twitterjs');
          }
          if (w.addEventListener) { w.addEventListener("load", go, false); }
	  else if (w.attachEvent) { w.attachEvent("onload",go); }
	  }(window, document, 'script'));
	</script>
  </body>
</html>
