<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/swfobject.js" type="text/javascript"></script>
    <script src="/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script src="/Fingerprint.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        Fingerprint.initFlash('/Fonts.swf');
        Fingerprint.updateRTT(10,'/time');
        Fingerprint.updatePlugins(navigator.userAgent);
      });
      translations = <%= @translations.to_json %>;
      var tmp = <%= @fingerprint.to_json %>;
      Fingerprint.init();
      for (var i in tmp) Fingerprint.set(i,tmp[i]);
      function submit()
      {
        $('#init').fadeOut('fast');
        Fingerprint.onFinish(function()
        {
            Fingerprint.submit('/post',function()
            {
                $('#init').fadeIn('fast');
                alert('There was an error');
            },
            function()
            {
                $('#loading').fadeOut('fast');
                $('#fingerprint').children().remove('table.obj');
                $('#fingerprint').css('display','block');
                $('#fingerprint').prepend(Fingerprint.generateDOM());
            });
        });
      }
</script>
    <title><%= @translations['title'] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div id="init">
      <p>
	Please support our Master's Thesis research by sharing your browser's
	fingerprint with us. <br/>You need not worry, we wont share your data with
	anyone under any circumstances.
      </p>
      <img src="/share.png" onclick="submit()" alt="" />
      <p class="disclaimer">
	Upon clicking Share, you agree to letting us store information about your browser. <br/>Burt AB is in no way affiliated with this webpage.
      </p>
    </div>
    <div id="loading"></div>

    <div id="thanks">
      <h1>Thank you for sharing!</h1>
      <div id="fingerprint"></div>
    </div>

  </body>
</html>
