<html>
  <head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/swfobject.js" type="text/javascript"></script>
    <script src="/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script src="/Fingerprint.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        updateStatus();

        Fingerprint.initFlash('/Fonts.swf');
        Fingerprint.updateRTT(10,'/time');
        Fingerprint.updatePlugins(navigator.userAgent);

        $('#share').bind('click',submit)
                   .bind('mouseenter',function(){ $(this).attr('src','/share_hover.png'); })
                   .bind('mouseleave',function(){ $(this).attr('src','/share.png'); });
        $('#info').bind('click',info);
      });
      translations = <%= @translations.to_json %>;
      var tmp = <%= @fingerprint.to_json %>;
      Fingerprint.init(tmp);
      function submit()
      {
        $('#share').attr('src','/loading.gif')
                   .css('cursor','default')
                   .unbind();
        $('#init>p').fadeOut('fast',function(){
          $(this).css('display','')
                 .css('visibility','hidden');
        });
        Fingerprint.onFinish(function()
        { 
            alert('done');/*
            Fingerprint.submit('/post',function()
            {
                $('#init').fadeIn('fast');
                alert('There was an error');
            },
            function()
            {
                $('#loading').fadeOut('fast');
                $('#fingerprint').children().remove('table.obj');
                $('#fingerprint').css('display','block');
                $('#fingerprint').prepend(Fingerprint.generateDOM());
            });*/
        });
      }
      function updateStatus()
      {
        var status = Fingerprint.status.get();
        $('#status').text(status);
        if( status != 'Done' )
          setTimeout(updateStatus,100);
      }
      function info()
      {
        $('#info').fadeToggle('fast');
        return false;
      }
</script>
    <title><%= @translations['title'] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div id="init">
      <h1>Browser Fingerprinting</h1>
      <p>
	Please support our Master's Thesis research by sharing your browser's
	fingerprint with us. <br/>You need not worry, we wont share your data with
	anyone under any circumstances.
      </p>
      <img src="/share.png" id="share" alt="" />
      <p class="disclaimer">
	Upon clicking Share, you agree to letting us store information about your browser. <br/>Burt AB is in no way affiliated with this webpage. <a href="#" onclick="info()" />More info</a>.
      </p>
      <div class="disclaimer" id="status"></div>
    </div>

    <div id="info">
      <p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula
	pellentesque eleifend. Morbi hendrerit nibh sed diam bibendum non
	commodo arcu pulvinar. In pharetra erat eget purus accumsan
	imperdiet. Aliquam erat volutpat. Lorem ipsum dolor sit amet,
	consectetur adipiscing elit. Donec eu iaculis purus. Integer eleifend
	fringilla scelerisque. Duis placerat dapibus mi nec tempor. Morbi sit
	amet vestibulum dui. Vivamus nisl nulla, vulputate ut pharetra id,
	dapibus sit amet odio. Curabitur interdum congue massa, non ultricies
	purus pretium vitae. In accumsan, velit vitae suscipit fringilla, elit
	enim fringilla neque, venenatis cursus felis tellus vel ligula. Ut enim
	eros, imperdiet ac dignissim a, mattis et urna.
      </p>
    </div>

    <div id="thanks">
      <h1>Thank you for sharing!</h1>
      <div id="fingerprint"></div>
    </div>

  </body>
</html>
