<html>
  <head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="/scripts/ext/swfobject.js" type="text/javascript"></script>
    <script src="/scripts/ext/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/scripts/ext/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script src="/scripts/FontList.js" type="text/javascript"></script>
    <script src="/scripts/Fingerprint.js" type="text/javascript"></script>
    <script type="text/javascript">
      var tmp = <%= @fingerprint.to_json %>;
    </script>
    <script type="text/javascript" src="/scripts/takeabite.js"></script>
    <title>Take a bite!</title>
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/master.css" rel="stylesheet">
    <meta property="og:title" content="Take a Bite!"/>
    <meta property="og:type" content="university"/>
    <meta property="og:url" content="http://exjob02.byburt.com/"/>
    <meta property="og:image" content"http://exjob02.byburt.com/img/cookie.png"/>
    <meta property="og:site_name" content="Take a Bite!"/>
    <meta property="og:description"
          content="Today, most webpages use cookies to keep track of
          and identify its users. We're trying to find a less
          intrusive method than cookies; a method which does not store
          information on your computer. We need your help to gather
          browser data, help us by clicking the button below and take
          a bite of the cookie! "/>
 </head>
  <body>

    <div id="fb-root"></div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Take a Bite!</h1>
        </div>
        <div class="row">
          <div class="span14">
            <p>Today, most webpages use cookies to keep track of and
              identify its users. We're trying to find a less
              intrusive method than cookies; a method that doesn't
              store any information on your computer. We need your help to
              gather browser data, help us by clicking the button
              below and take a bite of the cookie!
          </div>
          <div class="span14 cookie">
            <img src="img/cookie.png" alt="Take a Bite!" id="cookie" />
          </div>

          <div class="span14" id="sharediv">
	    <div id="loading" style="display:none">
	      <div id="status">Nom nom nom...</div>
	      <img src="/img/ajax-loader.gif" />
	    </div>
            <a href="#" onClick="submit();return false;" class="btn primary" id="share">Sure, I'll have a bite!</a>
	    <div id="error" style="color:#dd513b; display:none">
	      Something went wrong, we are sorry for the inconvinience! Please try again later.
	    </div>
	    <div id="thanks" style="display:none">
	      <h2>Thank you!</h2>
	      <p>
		Thanks to your bite of the cookie, we are now one step closer to
		a cookie-free browsing experience! <br />We need recurring
		visitors, so please return to us in a few days to take another
		bite.
	      </p>
	    </div>
          </div>

          <table class="span14 share">
	    <tr>
	      <td style="width:260px"></td>
	    <td><div class="fb-like" data-href="http://exjob02.byburt.com" data-send="false" data-layout="button_count" data-width="0" data-show-faces="false" data-font="arial"></div></td>
	    <td><a href="https://twitter.com/share" class="twitter-share-button"></a></td>
	    <td style="width:260px"></td>
	    </tr>
          </table>

	  <div class="add-info" style="clear:both">
	     This webpage is part of a master's thesis project at Chalmers University of Technology. <br />
	     For more information, please contact <i>ferik (at) student (dot) chalmers (dot) se</i>
	  </div>

        </div>

      </div>
    </div> <!-- /container -->

    <script>
      (function(w,d,s) {
      function go(){
      var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.src = url; js.id = id;
      fjs.parentNode.insertBefore(js, fjs);
      };
      load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');
      load('//platform.twitter.com/widgets.js', 'twitterjs');
      }
      if (w.addEventListener) { w.addEventListener("load", go, false); }
      else if (w.attachEvent) { w.attachEvent("onload",go); }
      }(window, document, 'script'));
    </script>
  </body>
</html>
