/* TOC ***********************************************************************/
/* - General                                                                 */
/* - Containers                                                              */
/* - Buttons                                                                 */
/* - Fingerprint                                                             */
/* - Colors                                                                  */
/*****************************************************************************/


/* General *******************************************************************/

* 
{ 
    font-size: 16px;  
    font-family: "Helvetica Neue", Arial, sans-serif; 
    color: #4c4c4c;
}

body { background-color: #f0f0f0; text-align: center; overflow-y: scroll; }

h1 { font-size: 1.5em; font-weight: bold; text-align: center; }
p { width: 50%; text-align: justify; margin: 1em auto; }
a { color: #007cc3; }

/*****************************************************************************/

/* Containers ****************************************************************/

#content
{
    border-radius: 0.5em;
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 1em 0.5em;
}

#response { font-size: 1.25em; margin: 1em; }

#fingerprint 
{ 
    margin-top: 2em; 
    width: 100%; 
    padding: 0px; 
    display: none; 
    height: 100%; 
}

#count { font-size: 8em; text-align: center; }

/* Buttons *******************************************************************/

button
{ 
    font-weight: normal;
    font-size: 14px;
    color: white;
    border-radius: 0.5em;  
    margin: 1em 2em;
    width: 130px;
    height: 40px;
    border-width: 1px; border-style: outset;
    cursor: pointer;
}

button.about
{ 
    background-color: #007cc3; 
    border-color: #108cd3;
    background: -webkit-gradient(linear, left top, left bottom, from(#007cc3), to(#005ca3));
    background: -moz-linear-gradient(top,  #007cc3,  #005ca3);   
}
button.about:hover
{ 
    background-color: #108cd3; 
}
button.about:active
{ 
    background-color: #0076ba; 
}

button.submit
{ 
    background-color: #056b00;
    border-color: #157b10;
    background: -webkit-gradient(linear, left top, left bottom, from(#056b00), to(#004b00));
    background: -moz-linear-gradient(top,  #056b00,  #004b00); 
}
button.submit:hover
{ 
    background-color: #157b10;
}
button.submit:active{
    background-color: #005b00;
}

button.preview
{ 
    background-color: #ff7e00; 
    border-color: #ff8e10;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7e00), to(#cf4e00));
    background: -moz-linear-gradient(top,  #ff7e00,  #cf4e00); 
}
button.preview:hover
{ 
    background-color: #ff8e10; 
}
button.preview:active
{ 
    background-color: #ef6e00; 
}

/*****************************************************************************/

/* Fingerprint ***************************************************************/

.obj 
{ 
    border-radius: 0.5em;
    width: 80%;
    padding: 0.5em;
    background-color: #fff;
}

.obj .obj { background-color: rgba(0,124,195,0.10); }

.obj ul { list-style-type: none; padding: 0; margin: 0; }
.obj li { margin-top: 0.5em; }
.obj th 
{ 
    font-weight: normal; 
    vertical-align: top; 
    text-align: right; 
    color: #ff7e00; 
}
.obj td { width: 85%; padding-left:1em; }

.value { font-style: italic; }
.value a { font-style: normal; font-size: 0.75em; margin-left: 1em; }

/*****************************************************************************/

/* Colors ********************************************************************/

.red    { color: #d31900; }
.green  { color: #056b00; }
.blue   { color: #007cc3; }
.orange { color: #ff7e00; }

/*****************************************************************************/
