/* TOC ***********************************************************************/
/* - General                                                                 */
/* - Containers                                                              */
/* - Buttons                                                                 */
/* - Fingerprint                                                             */
/* - Colors                                                                  */
/*****************************************************************************/


/* General *******************************************************************/

* 
{ 
    font-size: 16px;  
    font-family: "Helvetica Neue", Arial, sans-serif; 
    color: #4c4c4c;
}

body { background-color: #f0f0f0; text-align: center; }

h1 { font-size: 1.5em; font-weight: bold; text-align: center; }
p { width: 50%; text-align: justify; margin: 1em auto; }
a { color: #007cc3; }

/*****************************************************************************/

/* Containers ****************************************************************/

#content
{
    border-radius: 0.5em;
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 1em 0.5em;
}

#response { font-size: 1.25em; margin: 1em; }

#fingerprint 
{ 
    margin-top: 2em; 
    width: 100%; 
    padding: 0px; 
    display: none; 
    height: 100%; 
}

#count { font-size: 8em; text-align: center; }

/* Buttons *******************************************************************/
img.button
{ 
    margin-right:2em;
    margin-top:1em;
    cursor:pointer;
}


/*****************************************************************************/

/* Fingerprint ***************************************************************/

.obj 
{ 
    border-radius: 0.5em;
    width: 80%;
    padding: 0.5em;
    background-color: #fff;
}

.obj .obj { background-color: rgba(0,124,195,0.10); }

.obj ul { list-style-type: none; padding: 0; margin: 0; }
.obj li { margin-top: 0.5em; }
.obj th 
{ 
    font-weight: normal; 
    vertical-align: top; 
    text-align: right; 
    color: #ff7e00; 
}
.obj td { width: 85%; padding-left:1em; }

.value { font-style: italic; }
.value a { font-style: normal; font-size: 0.75em; margin-left: 1em; }

/*****************************************************************************/

/* Colors ********************************************************************/

.red    { color: #d31900; }
.green  { color: #056b00; }
.blue   { color: #007cc3; }
.orange { color: #ff7e00; }

/*****************************************************************************/


/* New stuff *****************************************************************/
#init
{
    background: #101010 center center no-repeat;
    width: 100%;
    height: 80%;
    padding: 10% 0%;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}

#init>img { cursor: pointer; }

#init>p { padding: 3em 0em; color: #f0f0f0; text-align: center; }
#init>p.disclaimer { font-size:0.8em; color: #909090; }


#loading
{
    background: #101010 url('/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#thanks
{
    background: #101010 center center no-repeat;
    width: 100%;
    height: 80%;
    padding: 10% 0%;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #f0f0f0;
}

#fingerprint_new
{ 
    width: 100%; 
    padding: 0px; 
    height: 100%; 
}

#fingerprint>table { margin: auto; }

