/* TOC ***********************************************************************/
/* - General                                                                 */
/* - Containers                                                              */
/* - Popup                                                                   */
/* - Buttons                                                                 */
/* - Fingerprint                                                             */
/* - Colors                                                                  */
/*****************************************************************************/


/* General *******************************************************************/

* 
{ 
    font-size: 16px;  
    font-family: "Helvetica Neue", Arial, sans-serif; 
}

body { background-color: #f0f0f0; text-align: center; }

h1 { font-size: 1.5em; font-weight: bold; text-align: center; }
a { color: #007cc3; }

/*****************************************************************************/

/* Containers ****************************************************************/

#init
{
    background: #101010 center center no-repeat;
    width: 100%;
    height: 94%;
    padding: 3% 0%;
    margin:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}

#init * { color: #ddd; }

#init>h1 { font-size: 2em; }
#init>p { padding: 3em 0em; text-align: center; width: 50%; margin: 1em auto; }
#init>p.disclaimer { font-size:0.8em; color: #909090; }
#init>p.disclaimer a { font-size:0.8em; color: #007cc3; }

#status.audit { color: #909090; }

#thanks
{
    background: #101010 center center no-repeat;
    width: 100%;
    padding: 10% 0%;
    text-align: center;
    color: #f0f0f0;
}

/*****************************************************************************/

/* Popup *********************************************************************/

#info>div.done
{
  background: #ddd url('/close.png') top right no-repeat;
}

#info>div
{
   background: #ddd url('/loading_white.gif') center center no-repeat; 
   border: 2px solid #007cc3;
   width: 25%;
   padding: 3em;
   margin: 0em auto;
}

#info>div>p
{
  text-align: justify;
  font-size: 0.8em;
  color: #101010;
}

#info>div>p * { font-size: 1em }

#info
{
    display: none;
    position: fixed;
    z-index: 4;
    height: 90%;
    width: 100%;
    padding: 5% 0%;
    background: rgba(16,16,16,0.8);
}

/*****************************************************************************/

/* Buttons *******************************************************************/

#share { cursor: pointer; }

/*****************************************************************************/

/* Fingerprint ***************************************************************/

#fingerprint 
{ 
    margin-top: 2em; 
    width: 100%; 
    padding: 0px; 
    display: none; 
    height: 100%; 
}

#fingerprint>table { margin: auto; }

.obj 
{ 
    border-radius: 0.5em;
    width: 80%;
    padding: 0.5em;
    background-color: #fff;
}

.obj .obj { background-color: rgba(0,124,195,0.10); }

.obj ul { list-style-type: none; padding: 0; margin: 0; }
.obj li { margin-top: 0.5em; }
.obj th 
{ 
    font-weight: normal; 
    vertical-align: top; 
    text-align: right; 
    color: #ff7e00; 
}
.obj td { width: 85%; padding-left:1em; }

.value { font-style: italic; }
.value a { font-style: normal; font-size: 0.75em; margin-left: 1em; }

/*****************************************************************************/

/* Colors ********************************************************************/

.red    { color: #d31900; }
.green  { color: #056b00; }
.blue   { color: #007cc3; }
.orange { color: #ff7e00; }

/*****************************************************************************/
